// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .card-placeholder-size {
//   width: 100px;
//   height: 100px;
//   max-width: 100px;
//   max-height: 100px;
// }

// .card-placeholder-size {
//   display: flex;
//   width: inherit;
//   height: inherit;
// }

.card-image-size {
  width: 300px !important;
  height: 300px !important;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}